<div align="center">
<font size="5"><strong>互联网平台系统部 SVN 数据库管理工具</strong></font>
<br/>
<br/>
<br/>
<font size="4">添加</font>
<br/>
<br/>
<a href="/repo_path">添加计划的 repository 和文件夹路径</a>
<br/>
<a href="/repo_path_exist">给已存在的 repository 添加文件夹路径</a>
<br/>
<a href="/repository_group">给 repository 设权限组</a>
<br/>
<a href="/repository_authz">给 repository 的权限组赋权</a>
<br/>
<a href="/user">添加用户</a>
<br/>
<a href="/repository_groupmembership">添加用户到权限组</a>
<br/>
<br/>
<font size="4">查询</font>
<br/>
<br/>
<a href="/choose_user">查询用户所属的权限组</a>
<br/>
<a href="/choose_repo">查询 repository 的权限组暨查询权限组包含的用户</a>
</div>
